@import url("./styles/boxsizingBorder.css");
@import url("./styles/nullstyle.css");

::-webkit-scrollbar {
  width: 10px;
  &-track {
    background: #e0e0e0;
    &:hover {
      background: #555;
    }
  }
  &-thumb {
    background: #888;
  }
}
.app {
  .form {
  }
  .loginForm {
    display: flex;
    width: clamp(280px, 50vw, 600px);
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
    &__textField {
      margin-bottom: 2rem;
    }
  }
  .registrationForm {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 1rem 2rem;
    &__textField {
    }
  }
}
